<ion-header>
  <ion-toolbar>
    <ion-title color="primary">
      Crear Jean
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <div style="padding: 4%; padding-top: 10%">
    <ion-item>
      <ion-label position="floating">Nombre del Jean</ion-label>
      <ion-input type="text" [(ngModel)]="jeans.nombreJean"></ion-input>
    </ion-item>
      <ion-row>
        <ion-col size="12">
          <ion-select interface="popover" placeholder="Seleccione el tipo"  [(ngModel)]="jeans.idTipoJean">
            <ion-select-option *ngFor="let obj of tiposJean" value={{obj.id}} >{{obj.tipoJean}}</ion-select-option>
          </ion-select>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <ion-select interface="popover" placeholder="Seleccione la talla"  [(ngModel)]="jeans.idTallaJean">
            <ion-select-option *ngFor="let obj of tallasJean" value={{obj.id}} >{{obj.tallaJean}}</ion-select-option>
          </ion-select>
        </ion-col>
      </ion-row>
    <ion-button expand="block" (click)="crearJean()">
      <ion-icon slot="start" name="log-in"></ion-icon>
      Crear Jean
    </ion-button>
  </div>

</ion-content>
