<ion-header>
  <ion-toolbar color="primary" >
    <ion-row>
      <ion-col col-1 justify-content-center>
        <img id="imagenF" src="/assets/img/logo_icono.png" />
      </ion-col>
      <ion-col col-11 align-self-center style="float: left">
        <ion-title>Recuperar Contraseña</ion-title>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div style="padding: 4%; padding-top: 10%">
    <ion-item>
      <ion-label position="floating">Username</ion-label>
      <ion-input type="text" maxlength="15" [(ngModel)]="usuario.nicknameUsuario"></ion-input>
    </ion-item>
    <ion-button expand="block" (click)="recuperarContrasenia()">
      Recuperar contraseña
    </ion-button>
  </div>

</ion-content>
